.DeveloperList-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.DeveloperList-header-text {
    display: flex;
    flex-direction: column;
    color: #888;
    font-weight: 700;
}

.DeveloperList-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.DeveloperList-container > * {
    margin: 20px;
}